@font-face {
    font-family:'GT-Walsheim-Ultra-Bold';
    src: url('assets/fonts/GT-Walsheim-Ultra-Bold.ttf');
    src: url('assets/fonts/GT-Walsheim-Ultra-Bold.WOFF');
    format('truetype');
}

/* GRID STUFF */
* {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding:0;
    background-color: #F9FEF2;
}

[class*="col-"] {
    float: left;
}

div{
    border: 1px solid red;
}

/* GRID - COLUMN */
.col-4{
    width: 25%;
}

.col-26{
    width: 3.846%;
}