html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

#thecanvas{
    /* position: absolute; */
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#thevideo{
    display: block;
    /* bottom: -400px;
    z-index: 2; */
}

#trianglediv{
    display: block;
    z-index: 3;
    bottom: -400px;
    right:0;
    width: 20%;
    height: 20%;
}

#thecolor{
    z-index: 4;
    display:block;
    top: 0;
    right:0;
    position:absolute;
}