@font-face {
    font-family:'PlantinMTInfant-Regular';
    src: url('assets/fonts/PlantinMTInfant-Regular.eot');
    src: url('assets/fonts/PlantinMTInfant-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family:'Platform-Bold';
    src: url('assets/fonts/Platform-Bold.eot');
    src: url('assets/fonts/Platform-Bold.ttf');
    format('truetype');
}

/* div{
    border: 1px red solid;
} */

html {
    box-sizing: border-box;
  }
  
body{
    overflow: hidden;
}

#navbar{
    margin: 3vh 3vw;
}

.nav-text{
    font-family: 'PlantinMTInfant-Regular';
    font-size: 1.65vw;
    color: black;
    display: flex;
    padding-top: 1vh;
}

.nav-text:hover{
    color: rgba(0,0,0,0.25); 
    cursor: pointer;
    text-decoration:none;
}

#nav-play, #nav-learn{
    display: block;
    text-align: right;
}

#nav-h2{
    text-align: center;
    font-family: 'Platform-Bold';
    font-size: 2.5vw;
    letter-spacing: 0.052vw;
    padding-top: 0.5vh;
}


/* LEARN PAGE */
.color-div{
    width: 14.45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

#red-div{
    background-color: #FD4F4F;
}

#orange-div{
    background-color: #FF9D41;
}

#yellow-div{
    background-color: #FBE11F;
}

#green-div{
    background-color: #B6E836;
}

#cyan-div{
    background-color: #1EDFBE;
}

#blue-div{
    background-color: #29ACFF;
}

#violet-div{
    background-color: #685CFF;
}

.text-thz{
    font-family: 'Platform-Bold';
    color: black;
    font-size: 1.5vw;
    line-height: 2.65vh;
    letter-spacing: 0.55pt;
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom: -32vh;
    z-index: 3;
}

#canvas-purple{
    z-index: 1;
    position: absolute;
    /* border: 1px solid blue; */
}