@font-face {
    font-family:'PlantinMTInfant-Regular';
    src: url('assets/fonts/PlantinMTInfant-Regular.eot');
    src: url('assets/fonts/PlantinMTInfant-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family:'Platform-Bold';
    src: url('assets/fonts/Platform-Bold.eot');
    src: url('assets/fonts/Platform-Bold.ttf');
    format('truetype');
}

/* div{
    border: 1px red solid;
} */

/* EVERGREEN STYLE */
html {
    box-sizing: border-box;
  }
  
body{
    overflow: hidden;
}

#navbar{
    margin: 4vh 3vw;
    position:relative;
    z-index: 3!important;
}

.nav-text{
    font-family: 'PlantinMTInfant-Regular';
    font-size: 1.85vw;
    color: black;
    display: flex;
    padding-top: 1vh;
    z-index: 3!important;
}

.nav-text:hover{
    color: rgba(0,0,0,0.25); 
    cursor: pointer;
    text-decoration:none;
}

#nav-play, #nav-learn{
    display: block;
    text-align: right;
}

#nav-h2{
    text-align: center;
    font-family: 'Platform-Bold';
    font-size: 2.5vw;
    letter-spacing: 0.052vw;
    padding-top: 0.5vh;
}

/* TITLE TEXT*/
#title-div{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title-h2{
    color: white;
    font-family: 'Platform-Bold';
    font-size: 90pt;
    text-align: center;
    line-height: 94pt;
}

/* INDEX PAGE WAVE*/
.box {
    position: fixed;
    top: -10;
    transform: rotate(35deg);
    left: 0;
    z-index: -1 !important;
}

.wave {
    position: absolute;
    opacity: 100;
    width:3200px;
    height: 3200px;
    margin-left: -250px;
    margin-top: -200px;
    border-radius: 40%;
    z-index: -1 !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(300deg);
    }
}

.wave.-one {
    animation: rotate 12000ms infinite linear;
    opacity: 100;
    background: #685CFF;
    top: -200vh;
}

.wave.-two {
    animation: rotate 12000ms infinite linear;
    opacity: 100;
    background: #29ACFF;
    top: -52vh;
    left: 5vw;
}

.wave.-three {
    animation: rotate 12100ms infinite linear;
    opacity: 100;
    background-color: #1EDFBE;
    top: -42vh;
    left: 5vw;
}

.wave.-four {
    animation: rotate 12200ms infinite linear;
    opacity: 100;
    background-color: #B6E836;
    top: -32vh;
    left: 15vw;
}

.wave.-four {
    animation: rotate 12300ms infinite linear;
    opacity: 100;
    background-color: #B6E836;
    top: -22vh;
    left: 25vw;
}

.wave.-five {
    animation: rotate 12400ms infinite linear;
    opacity: 100;
    background-color: #FBE11F;
    top: -12vh;
    left: 35vw;
}

.wave.-six {
    animation: rotate 12500ms infinite linear;
    opacity: 100;
    background-color: #FF9D41;
    top: -2vh;
    left: 45vw;
}

.wave.-seven {
    animation: rotate 12600ms infinite linear;
    opacity: 100;
    background-color: #FD4F4F;
    top: 0vh;
    left:55vw;
}