html,body{
    height: 100%;
    padding: 0;
    background-color: #F7EAE4 !important;
}

body{
    background-image: url("assets/pizza_bkg.svg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right top;
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
}

#canvas{
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position:relative;
}

#title{
    width: 80vw;
    display: block;
    margin-left: auto;s
    margin-right: auto;
    padding: 5%;
 }


/* NAVBAR */
#navbar-header{
    background-color: black;
    color: white;
    font-family: 'SharpGroteskBold21';
    font-size: 2.35vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 7vh;
    z-index: 3;
    text-align: center;
}

#nav-container{
    padding-top: 3vh;
    align-items: center;
    margin:auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#nav-container > p{
  margin: auto;
}

/*CONTAINER */
.container{
    margin-top: 15vh;
}

.colors{
    padding-top: 5%;
 }

.colors>img{
      width:3vw;
      margin: 1.5vw;
}

#new-button{
      padding: 2vw;
      width: 20vw;
      margin-top: 4vh;
}

.color.darkgreen { 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    background-color: #009245; 
    border-radius: 50px;
}

.color.gray{ 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    background-color: #D1CDAA; 
    border-radius: 50px;
}
.color.brown { 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    background-color: #AF3A1B; 
    border-radius: 50px;
}

.color.orange { 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    background-color: #FFA506; 
    border-radius: 50px;
}

.color.red { 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    border-radius: 50px;
    background-color: #F15A24; 
}

.color.green{ 
    width:6vw;
    padding: 2vw;
    margin: 2vw;
    border-radius: 50px;
    background-color: #B3DD4B; 
}

